body {
    background-color: black;
}


.first {
    width: 30%;
    height: 30%;
    margin-top: 80px;
    margin-left: 33%;
    
    text-align: center;
}

.pic {
    border: 2px solid yellow;
    width: 100%;
    
}
h1 {
    text-transform: uppercase;
    color: aliceblue;
    font-size: 1.5rem;
}
h2 {
    color: aliceblue;
}